#products {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#products td,
#products th {
    padding: 8px;
}

#products tr:nth-child(even) {
    background-color: #f2f2f2;
}

#products tr:hover {
    background-color: #ddd;
}

#products th {
    background-color: #04AA6D;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

img {
    width: 20%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.crop {
    overflow: hidden;
}