<div class="container-fluid px-5 my-5">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0 rounded-3 shadow-lg overflow-hidden">
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col-sm-6 d-none d-sm-block bg-image"></div>
                        <div class="col-sm-6 p-4">
                            <div class="text-center">
                                <div class="h3 fw-light">{{title}}</div>
                                <img src="https://ap.poly.edu.vn/images/logo.png" alt="">
                            </div>
                            <form>
                                <div class="mb-3">
                                    <label for="idStudent" class="form-label">Mã số sinh viên</label>
                                    <input type="email" value="{{information.id}}" disabled class="form-control" id="idStudent" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="idStudent" class="form-label">Họ và tên</label>
                                    <input type="email" value="{{information.name}}" disabled class="form-control" id="idStudent" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="idStudent" class="form-label">Ngày sinh</label>
                                    <input type="email" value="{{information.birthday}}" disabled class="form-control" id="idStudent" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="idStudent" class="form-label">Niên học</label>
                                    <input type="email" value="{{information.graduated}}" disabled class="form-control" id="idStudent" aria-describedby="emailHelp">
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>