.bg-image {
    background-image: url('https://scontent.fsgn5-10.fna.fbcdn.net/v/t1.15752-9/265981966_439277534473380_8776515701375376297_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_ohc=3mEnIU-jkU4AX9YlCa5&_nc_ht=scontent.fsgn5-10.fna&oh=03_AVLxUVc3YeVgcnF6sZ7zOT-TFUQ81QijX2jPLPyul4AZeg&oe=6255FE52');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}